<!DOCTYPE html>
<html>
<head>
        <% include partials/head %>
        <title>About</title>
    </head>
<header>
    <% include partials/header %>
</header>
<main>
<h1>About</h1>
</main>
<footer>
    <% include partials/footer %>
</footer>
<% include partials/script %>
</html>

