<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <title>Index</title>
    </head>
  <body>
      <header>
          <% include partials/header %>
      </header>
      <main>
    <h1>Express</h1>
  </main>
    <footer>
        <% include partials/footer %>
    </footer>
    <% include partials/script %>
  </body>
</html>