<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <title>Register</title>
    </head>
  <body>
      <header>
          <% include partials/header %>
      </header>
    <h1>Register</h1>
    <footer>
        <% include partials/footer %>
    </footer>
    <% include partials/script %>
  </body>
</html>