* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 204px);
}

.navbar-brand {
    width: 8%;
}

footer {
    margin-top: auto;
}

footer h5 {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}